@model Employee

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="LastName" class="form-label">
            Last Name:
        </label>
        <input type="text" class="form-control" placeholder="Enter the last name" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="FirstName" class="form-label">
            First Name:
        </label>
        <input type="text" class="form-control" placeholder="Enter the first name" asp-for="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="BirthDate" class="form-label">
            Date Of Birth:
        </label>
        <input type="date" class="form-control" asp-for="BirthDate">
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="FirstName" class="form-label">
            Skills:
        </label>
        <input type="text" class="form-control" placeholder="Enter the skills" asp-for="Skills">
        <span asp-validation-for="Skills" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="PhotoHandling" class="form-label">
            Employee Image:
        </label>
        <input type="file" class="form-control" asp-for="PhotoHandling">
        <span asp-validation-for="PhotoHandling" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>