@model Student

<form asp-action="Edit" method="post">
    <div class="mb-3">
        <label for="fullname" class="form-label">
            Tên sinh viên:
        </label>
        <input type="text" class="form-control" placeholder="Nhập tên sinh viên" asp-for="StudentName">
        <span asp-validation-for="StudentName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="DateOfBirth" class="form-label">
            Date Of Birth:
        </label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
        <span asp-validation-for="DateOfBirth"></span>
    </div>

    <div class="mb-3">
        <label for="Address" class="form-label">
            Địa chỉ:
        </label>
        <input type="text" class="form-control" placeholder="Nhập địa chỉ" asp-for="Address">
        <span asp-validation-for="Address"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>