@using Microsoft.AspNetCore.Mvc.Rendering

@model Student

<form asp-action="Edit" method="post">
    <input type="hidden" class="form-control" asp-for="StudentId">

    <div class="mb-3">
        <label for="fullname" class="form-label">
            Tên sinh viên:
        </label>
        <input type="text" class="form-control" placeholder="Nhập tên sinh viên" asp-for="StudentName">
        <span asp-validation-for="StudentName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="DateOfBirth" class="form-label">
            Date Of Birth:
        </label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Address" class="form-label">
            Địa chỉ:
        </label>
        <input type="text" class="form-control" placeholder="Nhập địa chỉ" asp-for="Address">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Giáo viên phụ trách:
        </label>
        <select asp-for="TeacherId" asp-items="ViewBag.Teachers" class="form-select">
            <option value="">-- Chọn giáo viên --</option>
        </select>
        <span asp-validation-for="TeacherId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>