@model Product

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @* Name *@
    <div class="mb-3">
        <label for="Name" class="form-label">
            Name:
        </label>
        <input type="text" class="form-control" placeholder="Enter Name" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    @* Price *@
    <div class="mb-3">
        <label for="Price" class="form-label">
            Price:
        </label>
        <input type="number" class="form-control" placeholder="Enter Price" asp-for="Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    @* Description *@
    <div class="mb-3">
        <label for="Description" class="form-label">
            Description:
        </label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    @* File Upload Field *@
    <div class="mb-3">
        <label for="ImageFile" class="form-label">
            File:
        </label>
        <input type="file" class="form-control" name="ImageFile">
        @* <input type="file" class="form-control" asp-for="ImageFile">  *@
        @* sao kh dùng asp-for ??*@
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    @* Submit Button *@
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>