@model Product

@* để .NET nhận được file thì phải có multipart/form-data *@
<form asp-action="Create" method="post" enctype="multipart/form-data">
    @* Name Input *@
    <div class="mb-3">
        <label for="Name" class="form-label">
            Name:
        </label>
        <input type="text" class="form-control" placeholder="Enter Name" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    @* Price Input *@
    <div class="mb-3">
        <label for="Price" class="form-label">
            Price:
        </label>
        <input type="number" class="form-control" placeholder="Enter Price" asp-for="Price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    @* Description Input *@
    <div class="mb-3">
        <label for="Description" class="form-label">
            Description:
        </label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    @* Image URL *@
    <div class="mb-3">
        <label for="Image" class="form-label">
            File:
        </label>
        <input type="file" class="form-control" name="Image"> @* tsal kh nên dùng asp-for ở đây ? *@
        <span asp-vaidation-for="Image" class="text-danger"></span>
    </div>

    @* Submit Button *@
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>