@model StudentCourseCreateDTO

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label for="fullname" class="form-label">
            Tên sinh viên:
        </label>
        <select class="form-control" asp-for="SelectedStudentId"
            asp-items="@(new SelectList(Model.Students, "StudentId", "StudentName"))">
            <option value="">Chọn sinh viên</option>
        </select>
        <span asp-validation-for="SelectedStudentId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="age" class="form-label">
            Courses:
        </label>
        @foreach (var course in Model.Courses)
        {
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="SelectedCourseIds" value="@course.CourseId">
                <label class="form-check-label">
                    @course.CourseName
                </label>
            </div>
        }
        <span asp-validation-for="SelectedCourseIds" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>