@model Product

<form asp-action="Edit" method="post">
    @* Name Input *@
    <div class="mb-3 mt-3">
        <label for="name" class="form-label">
            Name:
        </label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    @* Price Input *@
    <div class="mb-3">
        <label for="price" class="form-label">
            Price:
        </label>
        <input type="number" class="form-control" placeholder="Enter price" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    @* Description Input *@
    <div class="mb-3">
        <label for="price" class="form-label">
            Description:
        </label>
        <textarea type="text" class="form-control" placeholder="Enter description" asp-for="Description"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    @* Submit Button *@
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>